<html>
    <head>
        {{> base-styles }}

        <style>
            .primary-btn {
                margin: 40px 0 10px 0;
            }
        </style>
    </head>
    <body>
        <table class="content-wrapper">
            <tr>
                <td align="center">
                    <img class="logo" src="{{backendUrl}}/images/logo-with-drawing.png" alt="Echo - Logo" />
                    <h2>Reset your password</h2>

                    <p>You have submitted a password reset request.</p>
                    
                    <a class="primary-btn" href="{{resetLink}}">Set a new password</a>
                    <p style="max-width: 200px;">If you didn't request a password reset you can ignore this email.</p>
                </td>
            </tr>

        </div>
    </body>
</html> 