<p>Hello {{name}},</p>
<p>You have submitted a password reset request.</p>
<p>Click on this link to create a new password:</p>
<p><a href="{{resetLink}}">Set a new password</a></p>
<p>If you didn't request a password reset you can ignore this email.</p>