<html>
    <head>
        {{> base-styles }}
        <style>
            .primary-btn {
                margin-top: 40px;
            }
        </style>
    </head>
    <body>
        <table class="content-wrapper">
            <tr>
                <td align="center">
                    <img class="logo" src="{{backendUrl}}/images/logo-with-drawing.png" alt="Echo - Logo" />
                    <h2>Verify your e-mail address.</h2>

                    <p>To complete your registration, please verify your email address.</p>
                    
                    <a class="primary-btn" href="{{resetLink}}">Verify E-mail</a>
                </td>
            </tr>
        </div>
    </body>
</html> 